@import "fonts/Poppins";
/* Scrollbar custom css */
* {
  -webkit-overflow-scrolling: auto;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
}
:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}

/* Css for router transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* Default values */

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  color: #555;
}

.container {
  width: 95%;
  margin: 1em auto;
}

.el-message,
.el-alert, .el-notification {
  z-index: 99999!important;
}

.action-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.text-primary{
  color: $primary;
}

.text-secondary{
  color: $secondary;
}

.text-info{
  color: $info;
}

.text-warning{
  color: $warning;
}
.text-danger{
  color: $danger;
}

.text-light{
  color: #fefefe;
}
.background-primary{
  background: $primary;
}

.background-secondary{
  background: $secondary;
}

.background-info{
  background: $info;
}

.background-warning{
  background: $warning;
}
.background-danger{
  background: $danger;
}
.header{
  font-size: 2em;
}